{{ define "home2"}}

<div class="column side">
  <h1>something</h1>
</div>

<div class="column middle">
  {{if .}}
  <div>
    <h2>{{.User.FirstName}} {{.User.LastName}} wrote:</h2>
  </div>
  {{ range .Todos}}
  <div class="card">
    <div>
    </div>
    <div class="todo-div">
      <div class="todo-text-div">
        <a href="/edit/{{.ID}}">{{ .Body }}</a>
      </div>

      <form action="/delete/{{.ID}}" method="POST">
        <button type="submit" class="delete-button">Delete</button>
      </form>
    </div>
  </div>

  {{ end }} {{ end }}

</div>

<div class="column side">
  <h1>Something</h1>
</div>

{{ end }}