<!DOCTYPE html>
<html>

{{ template "head" .}}

<body>

  {{ template "header" .}} {{ template "nav " .}}

  <div class="row">
    
    {{ if ( eq .State "home") }} {{ template "home2" .}} {{ end }} 
    {{ if ( eq .State "editTodo") }} {{ template "editTodo" .}} {{ end }} 
    {{ if ( eq .State "withoutAuth")}} {{ template "withoutAuth"}} {{ end }} 
    {{ if ( eq .State "signup")}} {{ template "signup"}} {{end}}
    {{ if ( eq .State "login")}} {{ template "login"}} {{end}}
    {{ if ( eq .State "submitTodo")}} {{ template "submitTodo"}} {{end}}

  </div>

  {{ template "footer" .}}

</body>

</html>