{{ define "signup"}}

<div class="column single">
  <div class="container">
    <section id="signup">

      <form action="/register" method="post">

        <div>first name:
          <input type="text" name="firstName">
        </div>

        <div>last name:
          <input type="text" name="lastName">
        </div>

        <div>age:
          <input type="text" name="age">
        </div>

        <div>email:
          <input type="text" name="email">
        </div>

        <div>password:
          <input type="text" name="password">
        </div>

        <input type="submit" value="Submit">

      </form>

    </section>
  </div>
</div>
{{end}}